.outer-container {
  display: flex;
}

.button-container {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
}

.grid {
  display: flex;
  width: 720px;
  height: 720px;
  border: 2px solid black;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  text-align: center;
  width: 45px;
  height: 45px;
  outline: 1px solid lightgrey;
}
