.container {
  display: flex;
  width: 480px;
  border: 2px solid black;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  text-align: center;
  width: 30px;
  height: 30px;
}
